section {
  margin: 10em 0;
}

p {
  margin-bottom: 0.5em;
  max-width: var(--text-max-width);
}

li {
  margin-bottom: 0.3em;
}

img {
  margin: 1em 0;
}

.section-title {
  max-width: var(--text-max-width);

  h2, h3 {
    &:first-child {
      opacity: 0.7;
      text-transform: uppercase;
      font-size: 0.9em;
      margin-bottom: 1.5em;
    }
    
    &:nth-child(2) {
      font-size: 1em;
      margin: 3em 0 1.2em;
    }
  }


  ._title {
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0.8em;
  }

  ._text {
    margin-bottom: 3em;
  }
}

._bleeding {
  background: #212226;
  margin: 0 -1000px;
  padding: 3em 1000px;
}

._grid {
  display: grid;
  grid-gap: 1.5rem;

  &.-default-2 {grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));}
  &.-default-3 {grid-template-columns: repeat(auto-fit, 300px);}
  &.-default-4 {grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));}

  .-whole-row {
    grid-column: 1/-1;
  }
}

._two-column-section {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 5em;

  @media (max-width: 800px){
    display: block;
  }
}

._caption {
  text-align: center;
  max-width: 100%;
}

._icon-list {
  display: flex;
  align-items: center;
  margin: 2em 0;

  img {
    margin-right: .8em;
    width: 1.8em;
  }
}

._card {
  background: #212226;
  padding: 2.5em 3em;

  &.-container-card {
    margin: 2em 0;

    h3 {
      margin-left: 0;
      margin-top: 1em;
      margin-bottom: 4px;
      font-size: 1.1em;
    }

    h3 + p {
      max-width: 500px;
      margin-bottom: 1.5em;
    }

    .option {
      font-size: 0.9em;
    }
  }


  ._icon {
    height: 2em;
    margin-bottom: 0.5em;
    width: auto;
  }

  ._large-number {
    font-size: 4em;
    font-weight: bold;
    line-height: 1;
  }

  ._title {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0.5em 0;
  }
}

._quote {
  font-size: 1.5em;
  font-style: italic;
  border-left: 3px solid currentColor;
  padding-left: 1.5em;
  max-width: 30em;

  &::before {content: '“';}
  &::after {content: '”';}
}

._tag {
  display: inline-block;
  padding: .3em 0.5em;
  color: #01203D;
  font-weight: bold;

  &.-tag-1 {background: var(--accent-color-1);}
  &.-tag-2 {background: var(--accent-color-2);}
  &.-tag-3 {background: var(--accent-color-3); color: white;}
}

h2, h3 {
  // For the sidebar toc scrolling
  scroll-margin-top: 10em;
}
